body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    color: #333;
}

h1 {
    color: #007bff;
}

.container {
    margin: 15px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.animtext{
    transition: all 0.25s ease 0.25s;
}

.animtext:hover{
    font-size: 20px;
    transition-delay: 0s;
}

img {
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: all 0.25s ease 0.25s;
    transition-delay: 0s;
    }
    img:hover {
    scale: 1.12;
    }
    /*translate Сдвигает элемент из его текущего положения по осям Х (горизонтально) и У
    translate(50px, 100px) - сдвинет элемент на 50рх вправо и на 100рх вниз.*/
    /*rotate Поворачивает элемент на заданный угол вокруг его центра по умолчанию./
    rotate(45deg) - повернет элемент на 45 градусов по часовой стрелке. */
    /*В CSS deg (от англ. degrees) - это единица измерения угла в градусах*/

